<div class="plant">
  <%= link_to plant_path(plant) do %>
    <div class="bg-image plant-cover" style="background-image: url('<%= plant.photo_url %>')"></div>
  <% end %>
  <p class="plant-owner">by <%= plant.user.nickname %></p>
</div>
