<div id="plant-care-action-buttons-<%= plant.id %>">
  <% plant_care_moments_needed(plant).each do |code| %>
    <%= link_to code, garden_plant_care_moments_path(plant, code: code, src: src), method: :post, remote: true, class: care_moment_button_css_class(code) %>
  <% end %>
</div>
