<%= link_to garden_plant_favorite_path(plant), method: (plant.favorite ? :delete : :post), remote: true, data: { type: "json", controller: "plants--favorite", action: "ajax:success->plants--favorite#refresh" }, class: "favorite-link emoji-button" do %>
  <span class="favorite <%= 'active' if plant.favorite %>">тнР</span>
<% end %>
