<div class="container page-container">
  <div class="row">
    <div class="col-sm col-md-4 offset-md-4">
      <h1>Edition of <%= @plant.name %></h1>
      <%= render 'form', plant: @plant %>
    </div>
  </div>
</div>
