<div class="container page-container">
  <div class="row align-items-center justify-content-around" data-controller="plants--image">
    <div class="bg-image plant-image-preview" style="background-image: url('<%= @plant.photo_url %>')" data-target="plants--image.image"></div>
    <div class="col-sm col-md-4">
      <h1>Edition of <%= @plant.name %></h1>
      <%= render 'form', plant: @plant %>
    </div>
  </div>
</div>
