<div class="container page-container">
  <div class="row">
    <div class="col">
      <h1 class="page-title">Plants from your interior garden</h1>
      <%= link_to 'New Plant', new_garden_plant_path, class: 'text-right' %>
      <br/>

      <% @plants.each do |plant| %>
        <%= render 'components/garden_plant', plant: plant %>
      <% end %>
    </div>
  </div>
</div>
