<div class="container page-container">
  <div class="row">
    <div class="col col-lg-6 offset-lg-3">
      <h1>Leaderboard</h1>
      <p class="lead">Discover the top 10 gardeners.</p>
      <table class="table">
        <thead>
          <th scope="col" class="text-center">Rank</th>
          <th scope="col">Gardener</th>
          <th scope="col">Plants</th>
          <th scope="col">Care Moments</th>
          <th scope="col" class="text-right">Doses of care</th>
          <th scope="col" class="text-center">Level</th>
        </thead>
        <tbody>
          <% @top_users.each do |user| %>
            <%= render 'row', user: user %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
