.care-actions {
  margin: 3em 0 4em;

  .care-action {
    text-transform: uppercase;
  }

  .care-overview {
    font-size: 1.2em;
  }
}

.care-badge {
  padding: 0.5em 1.2em;
}

.levels-details {
  &:hover {
    cursor: pointer;
  }
}
