<div class="container page-container">
  <div class="row">
    <div class="col">
      <h1 class="text-center page-title">Plants from our community of interior gardeners</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <% @plants.each do |plant| %>
      <div class="plant">
        <%= link_to plant_path(plant) do %>
          <div class="plant-cover bg-image-placeholder" style="background-image: url('<%= plant.photo_url %>')"></div>
        <% end %>
        <p class="plant-owner">by <%= plant.user.nickname %></p>
      </div>
    <% end %>
  </div>
</div>
