.garden-plant {
  margin: 1em 0;
  margin-right: 1em;
  width: 350px;
  display: flex;

  .title {
    display:         flex;
    justify-content: space-between;
    align-items:     baseline;

    .favorite-button:hover {
      text-decoration: none;
    }

    .favorite-button, .favorite-label {
      font-size:    0.7em;
      margin-left:  0.4em;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    color: $black;
  }

  .image {
    margin-right: 1em;
  }

  .points {
    margin-top: auto;
    color: $primary;
  }

  .room {
    margin-bottom: 2em;
    text-transform: uppercase;
    color: $gray-600;
  }
}
