.garden-plant {
  margin: 1em 0;
  margin-right: 1em;
  width: 350px;
  display: flex;

  .details {
    display: flex;
    flex-direction: column;
    color: $black;
  }

  .image {
    margin-right: 1em;
  }

  .favorite {
    font-size: 0.5em;
    vertical-align: middle;
    filter: grayscale(100%);

    &.active {
      filter: grayscale(0%);
    }
  }



  .points {
    margin-top: auto;
    color: $primary;
  }

  .room {
    margin-bottom: 2em;
    text-transform: uppercase;
    color: $gray-600;
  }
}

.garden-plant-large {
  width: auto;
}
