<div id="flash-notice" class="flash-message alert alert-success <%= 'd-none' unless flash[:notice] %>" role="alert">
  <%= flash[:notice] %>
</div>
<div id="flash-alert" class="flash-message alert alert-danger <%= 'd-none' unless flash[:alert] %>" role="alert">
  <%= flash[:alert] %>
</div>
